@import "reset.css";
@import "grid.css";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

.amostragem {
  border: 0.5px solid lightgray;
  padding: 10px;
  margin: 10px;
}

.amostragem p {
  margin: 10px;
  text-align: right;
}

.amostragem p a {
  font-size: 0.8em;
  text-decoration: none;
  color: indigo;
  font-weight: bold;
  padding: 10px;
}
.amostragem p a:hover {
  background-color: pink;
}

.box {
  padding: 10px;
  margin: 5px;
  height: 150px;
}
.box img {
  max-height: 100%;
}
.box img:hover {
  transform: scale3d(2.5, 2.5, 3);
}
section h2 {
  margin: 10px;
}

section h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 900;
}

.center {
  text-align: center;
}
